Pandas Kütüphanesinde Seri Oluşturma İle İlgili Çalışmalar

In [112]:
from typing import List
import pandas as pd # type: ignore
import numpy as np

# liste ile pandasta serilerin kullanımı
data_for_list = [1, 2, 3, 4, 5]
series_for_list = pd.Series(data_for_list)

print(series_for_list)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [113]:
#Sözlük ile pandasta serilerin kullanımı

data_for_dictionary = {'a': 1, 'b': 2, 'c': 3}
series_for_dictionary = pd.Series(data_for_dictionary)

print(series_for_dictionary)

a    1
b    2
c    3
dtype: int64

In [114]:
#Serinin değerlerini name.values kullanarak erişebiliriz
print(series_for_list.values)
#Aynı zamanda içindeki değerleri de ayrı ayrı kullanabiliriz.

[1 2 3 4 5]

In [115]:
#name.index serinin indexlerini verir.
print(series_for_list.index)

RangeIndex(start=0, stop=5, step=1)

Yukarıdaki kodun çıktısında 0 indexinden başladığı ve 5 indexinde(5 dahil değil) bittiğini ve her sayı arasında bir fark olduğunu anlamalıyız.

In [116]:
#head() fonksiyonu serinin ilk birkaç elemanını gösterir

print(series_for_list.head(3))

0    1
1    2
2    3
dtype: int64

In [117]:
#tail() fonksiyonu serinin sondan birkaç elemanını gösterir

print(series_for_list.tail(3))

2    3
3    4
4    5
dtype: int64

DATA FRAME:

->İki boyutlu etiketlenmiş veri yapısıdır.

-> Hem satırlar hem de sutünlar indekslenmiştir.

-> Satır ve sutünlar birbirinden bağımsız olarak işlenebilir.

Oluşturma:
-> Data Frame çeşitli veri kaynaklarından oluşabilir.

1) Sözlük ile:

In [118]:
data_frame_dict = {
    
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df_dict = pd.DataFrame(data_frame_dict)
print(df_dict)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

2) Liste ile:

In [119]:
data_frame_list = [
    
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

df_list = pd.DataFrame(data_frame_list, columns=['Name', 'Age', 'City'])

print(df_list)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

3) NumPy dizisi ile:

In [120]:
data_for_np = np.array([
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
])

df_np = pd.DataFrame(data_for_np, columns = ['Name', 'Age', 'City'])

print(df_np)

      Name Age         City
0    Alice  25     New York
1      Bob  30  Los Angeles
2  Charlie  35      Chicago

#Özellikler ve Methodlar

In [121]:
#head() ilk birkaç satırın görüntüler
print(df_dict.head(2))

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [122]:
#tail() son birkaç satırı görüntüler
print(df_dict.tail(2))

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [123]:
#info() data frame alt yapısını görüntüler
print(df_dict.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [124]:
#describe() özet istatistikleri görüntüler.
print(df_dict.describe())

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [125]:
#columns sutün adlarını görüntüler
print(df_dict.columns)

Index(['Name', 'Age', 'City'], dtype='object')

In [126]:
#index satır indekslerini görüntüler.
print(df_dict.index)

RangeIndex(start=0, stop=3, step=1)

# Veri Seçimi ve Filtreleme

In [127]:
#Sutün seçimi
age_dict = df_dict["Age"]
print(age_dict)

0    25
1    30
2    35
Name: Age, dtype: int64

In [128]:
#Satır seçimi
#iloc() ile
first_row_dict = df_dict.iloc[0]
print(first_row_dict)

second_row_dict = df_dict.loc[0]
print(second_row_dict)

Name       Alice
Age           25
City    New York
Name: 0, dtype: object
Name       Alice
Age           25
City    New York
Name: 0, dtype: object

# Koşullu Seçim

In [129]:
adults = df_dict[df_dict['Age'] > 30]
print(adults)

      Name  Age     City
2  Charlie   35  Chicago

#Data Inspection:

1) Data Frame'in ilk ve son satırlarını görüntüleme

-> head(n) ile ilk n satırını görüntülenebilir. 'n = 5' varsayılan değeridir.

In [130]:
df = pd.read_csv('data.csv',sep='\t')
print(df.head())
print(df.head(10))

      Name  Age         City  Salary   Education
0    Alice   25     New York   60000  Bachelor's
1      Bob   30  Los Angeles   80000    Master's
2  Charlie   35      Chicago   70000  Bachelor's
3    David   28        Miami   75000         PhD
4      Eve   32      Houston   90000    Master's
      Name  Age           City  Salary   Education
0    Alice   25       New York   60000  Bachelor's
1      Bob   30    Los Angeles   80000    Master's
2  Charlie   35        Chicago   70000  Bachelor's
3    David   28          Miami   75000         PhD
4      Eve   32        Houston   90000    Master's
5    Frank   27        Seattle   65000  Bachelor's
6    Grace   31         Boston   82000    Master's
7   Hannah   29         Dallas   72000         PhD
8    Isaac   34  San Francisco   85000         NaN
9     Jack   26        Atlanta   68000    Master's

-> tail(n) data frame son n satırını görüntüler. 'n = 5' varsayılan değeridir.

In [131]:
print(df.tail())
print(df.tail(10))

      Name  Age         City  Salary   Education
15    Paul   29   Sacramento   71000  Bachelor's
16   Quinn   35    Charlotte   86000    Master's
17  Rachel   27  Minneapolis   74000  Bachelor's
18  Samuel   33    St. Louis   79000    Master's
19  Taylor   26   Pittsburgh   70000         PhD
      Name  Age         City  Salary   Education
10   Katie   33       Denver   78000  Bachelor's
11    Liam   30       Austin   82000    Master's
12     Mia   28     Portland   69000  Bachelor's
13    Noah   32      Phoenix   77000    Master's
14  Olivia   31    San Diego   80000         PhD
15    Paul   29   Sacramento   71000  Bachelor's
16   Quinn   35    Charlotte   86000    Master's
17  Rachel   27  Minneapolis   74000  Bachelor's
18  Samuel   33    St. Louis   79000    Master's
19  Taylor   26   Pittsburgh   70000         PhD

2) Veri Yapısı ve Veri Tiplerini İnceleme

In [132]:
#'info()' : Data Frame hakkında genel bilgi verir. Sutün adları, veri tipleri, 
# eksik değerlerin sayısı ve bellek kullanımı ile ilgili bilgiler içerir.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       20 non-null     object
 1   Age        20 non-null     int64
 2   City       20 non-null     object
 3   Salary     20 non-null     int64
 4   Education  19 non-null     object
dtypes: int64(2), object(3)
memory usage: 928.0+ bytes
None

In [133]:
#'dtypes' : Data Frame'deki sütunların veri tiplerini görüntüler.
print(df.dtypes)

Name         object
Age           int64
City         object
Salary        int64
Education    object
dtype: object

3) Özet İstatistikler:

In [134]:
# 'describe()' : Sayısal sütunlar için özet istatistikleri (ortalama, standart sapma, min, max, çeyreklikler vb.) görüntüler.
print(df.describe())

             Age       Salary
count  20.000000     20.00000
mean   30.050000  75650.00000
std     3.068945   7610.76108
min    25.000000  60000.00000
25%    27.750000  70000.00000
50%    30.000000  76000.00000
75%    32.250000  80500.00000
max    35.000000  90000.00000

In [135]:
#'describe(include='all')' : Tüm sütunlar için özet istatistikleri gösterir.
print(df.describe(include= 'all'))

         Name        Age      City       Salary Education
count      20  20.000000        20     20.00000        19
unique     20        NaN        20          NaN         3
top     Alice        NaN  New York          NaN  Master's
freq        1        NaN         1          NaN         8
mean      NaN  30.050000       NaN  75650.00000       NaN
std       NaN   3.068945       NaN   7610.76108       NaN
min       NaN  25.000000       NaN  60000.00000       NaN
25%       NaN  27.750000       NaN  70000.00000       NaN
50%       NaN  30.000000       NaN  76000.00000       NaN
75%       NaN  32.250000       NaN  80500.00000       NaN
max       NaN  35.000000       NaN  90000.00000       NaN

In [136]:
# Tek bir sayısal sutün için özet istatistikleri gösterme
print(df['Salary'].describe())

count       20.00000
mean     75650.00000
std       7610.76108
min      60000.00000
25%      70000.00000
50%      76000.00000
75%      80500.00000
max      90000.00000
Name: Salary, dtype: float64

4) Eksik Verileri İnceleme

In [137]:
# 'isna()' : Data Frame'deki eksik değerleri True olarak işaretler.
print(df.isna())
print(df.head(9))

     Name    Age   City  Salary  Education
0   False  False  False   False      False
1   False  False  False   False      False
2   False  False  False   False      False
3   False  False  False   False      False
4   False  False  False   False      False
5   False  False  False   False      False
6   False  False  False   False      False
7   False  False  False   False      False
8   False  False  False   False       True
9   False  False  False   False      False
10  False  False  False   False      False
11  False  False  False   False      False
12  False  False  False   False      False
13  False  False  False   False      False
14  False  False  False   False      False
15  False  False  False   False      False
16  False  False  False   False      False
17  False  False  False   False      False
18  False  False  False   False      False
19  False  False  False   False      False
      Name  Age           City  Salary   Education
0    Alice   25       New York   60000  Bachelor's
1      Bob   30    Los Angeles   80000    Master's
2  Charlie   35        Chicago   70000  Bachelor's
3    David   28          Miami   75000         PhD
4      Eve   32        Houston   90000    Master's
5    Frank   27        Seattle   65000  Bachelor's
6    Grace   31         Boston   82000    Master's
7   Hannah   29         Dallas   72000         PhD
8    Isaac   34  San Francisco   85000         NaN

In [138]:
#'isnull()' : isna() fonksiyonu ile aynıdır. Eksik değerleri True olarak işaretler.
print(df['Education'].isnull())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: Education, dtype: bool

In [139]:
#'sum()' : Eksik değerlerin sayısını hesaplar. Hem isna() hem de isnull() ile birlikte kullanılabilir.
print(df.isna().sum())

Name         0
Age          0
City         0
Salary       0
Education    1
dtype: int64

5) Satır ve Sütun İşlemleri:

In [140]:
#'columns' : Data Frame'in sütun adlarını gösterir.
print(df.columns)

Index(['Name', 'Age', 'City', 'Salary', 'Education'], dtype='object')

In [141]:
#'index' : Data Frame'in satır indekslerini görüntüler.
print(df.index)

RangeIndex(start=0, stop=20, step=1)

6) Benzersiz Değerler ve Değer Sayıları

In [142]:
#'unique()' : Bir sütundaki benzersiz değerleri listeler.
print(df['Age'].unique())

[25 30 35 28 32 27 31 29 34 26 33]

In [143]:
#'nunique()' : Her sütundaki benzersiz değerlerin sayısını listeler.
print(df['City'].nunique())

20

In [144]:
#'value_counts()' : Bir sütundaki benzersiz değerlerin frekansını sayar.
print(df['City'].value_counts())

City
New York         1
Los Angeles      1
St. Louis        1
Minneapolis      1
Charlotte        1
Sacramento       1
San Diego        1
Phoenix          1
Portland         1
Austin           1
Denver           1
Atlanta          1
San Francisco    1
Dallas           1
Boston           1
Seattle          1
Houston          1
Miami            1
Chicago          1
Pittsburgh       1
Name: count, dtype: int64

7) Veri Örnekleme:

In [145]:
#'shape' : Data Frame'in boyutlarını(satır ve sütun sayısını) görüntüler.
print(df.shape)

(20, 5)

In [146]:
#'size' : Data Frame'deki toplam eleman sayısını görüntüler.
print(df.size)

100

9) Veri Türlerini Dönüştürme:

In [147]:
#'astype()' : Bir sütunun veri tipini dönüştürür.
df['Age']  = df['Age'].astype('float')
print(df['Age'].dtypes)

float64

In [150]:
def createDataFrame(student_data) -> pd.DataFrame:
    df = pd.DataFrame(student_data, columns = ['student_id', 'age'])
    return df
input = [[1,15],[2,11],[3,11],[4,20]]
print(createDataFrame(input))

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20